
<%# NEW POST %>
<div class="sidebar-links">
  <%= link_to new_post_path, data: { turbo_frame: "modal" } do %>
    <span><i class="fa-regular fa-plus"></i> POST</span>
  <% end %>
  <%= link_to new_client_path, data: { turbo_frame: "modal" } do %>
    <span><i class="fa-regular fa-plus"></i> CLIENT</span>
  <% end %>
  <%= link_to new_model_agency_profile_path, data: { turbo_frame: "modal" } do %>
    <span><i class="fa-regular fa-plus"></i> MODEL</span>
  <% end %>
</div>
