<h1>Listings</h1>
<% @listings.each do |listing| %>
  <p>Location: <%= listing.location %></p>
  <p>Type: <%= listing.listing_type %></p>
  <p>Start: <%= listing.start_date %></p>
<% end %>
<%= link_to "Create listing", new_agency_listing_path(@agency) %>
