.background-1 {
  background-image: linear-gradient(85deg, rgb(209, 56, 5), rgb(239, 148, 2), rgb(183, 4, 64));
}

.dashboard-navbar {
  display: flex;
  flex-grow: 1;
  height: 8vh;
  background-color: rgba(255,255,255,1.0);
}

.dashboard-navbar:hover {
  background-color: rgba(255,255,255,0.8);
  transition: 0.2s;
}

.dashboard-navbar-buttons {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  align-items: center;

  i {
    color: #9d9d9d;
  }

  #active {
    color: black;
  }
}

.nav-avatar {
  margin: auto;
  padding: 0 18px 0 0;
}

// Highest grid layer
// Left is main content and right is sidebar
.grid-top {
  display: grid;
  grid-template-columns: 5fr 19fr 2fr;
  height: 10vh;

  background-color: white;
  margin-top: 1px;
  margin-bottom: 1px;
  // border-radius: 6px;

  .grid-top-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.grid-bottom {
  display: grid;
  grid-template-columns: 5fr 19fr 2fr;
  height: 78vh;
  background-color: white;
}

.grid-bottom-left {
  display: flex;
  flex-direction: column;

  margin-top: 30px;
  margin-bottom: 20px;
  border-right: 0.5px solid #afafaf;
  // margin-left: 2px;
  // border-radius: 6px;
  // padding-left: 10px;

  .form-section {
    display: flex;
    justify-content: center;
    margin: 0 6px 20px 6px;


    .search-form {
      border: 0.5px solid #7d7d7d;
      border-radius: 500px;
    }

    input[type=text] {
      width: 12.5vw;
      height: 30px;
      border: none;
      border-radius: 50px;
    }

    input[type=text]:focus {
      outline: none;
    }

    input[type=submit] {
      width: 60px;
      height: 30px;
      border-radius: 500px;
      border: none;
      background-image: linear-gradient(320deg, rgb(166, 8, 8), rgb(215, 0, 61));
    }
  }

  .model-listings-section {
    height: 64vh;
    overflow: scroll;
  }

  .models-links {
    background-color: white;
    border: none;

    .models-list {
      display: flex;
      align-items: center;
      margin: 4px 0px 0 16px;
    }
  }

  .divider {
    border: 0.5px solid #7d7d7d;
    margin: 0 24px 0 12px;
  }
}

.grid-bottom-center {
    overflow: scroll;
    // background-color: white;
    // margin-top: 1px;
    // margin-bottom: 1px;
    // margin-right: 2px;
    // border-radius: 6px;
   }

.side-bar-right {
  display: flex;
  flex-direction: column;
  justify-items: center;
  background-color: white;
  // margin-top: 30px;
  margin-bottom: 6px;
  // border-left: 0.5px solid #7d7d7d;


  .sidebar-links {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;

  i {
    color: black;
    font-size: 2rem;
  }

  :hover {
    font-weight: 600;
  }
}
}

.dashboard-footer {
  margin-top: 1px;
  height: 4vh;
  background-color: rgba(255,255,255,1.0);
}

.button-dashboard {
  font-size: 1.6rem;
  text-align: center;
  font-weight: 800;
  color: #7d7d7d;
  background-color: white;;
  width: 100px;
  padding: 0.8rem 0;
  border: 1px solid #7d7d7d;
  border-radius: 4px;
}

#plus-icon:hover {
  transition: 0.3s;
  transform: rotate(-90deg);
}
