.background-1 {
  background-image: linear-gradient(85deg, rgb(209, 56, 5), rgb(239, 148, 2), rgb(183, 4, 64));
}

.dashboard-navbar {
  display: flex;
  flex-grow: 1;
  height: 8vh;
  background-color: rgba(255,255,255,1.0);
}

.dashboard-navbar:hover {
  background-color: rgba(255,255,255,0.7);
  transition: 0.2s;
}

.dashboard-navbar-buttons {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  align-items: center;

  i {
    color: #9d9d9d;
  }

  #active {
    color: black;
  }
}

.nav-avatar {
  margin: auto;
  padding: 0 18px 0 0;
}

// Highest grid layer
// Left is main content and right is sidebar
.grid-top {
  display: grid;
  grid-template-columns: 5fr 19fr 2fr;
  height: 10vh;

  background-color: white;
  margin-top: 1px;
  margin-bottom: 1px;
  // border-radius: 6px;

  .grid-top-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.grid-bottom {
  display: grid;
  grid-template-columns: 5fr 19fr 2fr;
  height: 78vh;
  background-color: white;
}

.grid-bottom-left {
  display: flex;
  flex-direction: column;

  margin-top: 30px;
  margin-bottom: 20px;
  border-right: 0.5px solid #afafaf;
  // margin-left: 2px;
  // border-radius: 6px;
  // padding-left: 10px;

  .form-section {
    display: flex;
    justify-content: center;
    margin: 0 6px 20px 6px;


    .search-form {
      border: 0.5px solid #7d7d7d;
      border-radius: 500px;
    }

    input[type=text] {
      width: 12.5vw;
      height: 30px;
      border: none;
      border-radius: 50px;
    }

    input[type=text]:focus {
      outline: none;
    }

    input[type=submit] {
      width: 60px;
      height: 30px;
      border-radius: 500px;
      border: none;
      background-image: linear-gradient(320deg, rgb(166, 8, 8), rgb(215, 0, 61));
    }
  }

  .model-listings-section {
    height: 64vh;
    overflow: scroll;
  }

  .models-links {
    background-color: white;
    border: none;

    .models-list {
      display: flex;
      align-items: center;
      margin: 4px 0px 0 16px;
    }
  }

  .divider {
    border: 0.5px solid #7d7d7d;
    margin: 0 24px 0 12px;
  }
}

.grid-bottom-center {
  height: 70vh;
  overflow: scroll;
   }

.side-bar-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  margin-bottom: 6px;

  .sidebar-links {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;

  i {
    color: black;
    font-size: 2rem;
    color: #7d7d7d;
  }

  :hover {
    font-weight: 600;
  }

  a {
    margin-bottom: 40px;
    color: #7d7d7d;
  }
}
}

.dashboard-footer {
  margin-top: 1px;
  height: 4vh;
  background-color: rgba(255,255,255,1.0);
}

.button-dashboard {
  font-size: 1.6rem;
  text-align: center;
  font-weight: 800;
  color: #7d7d7d;
  background-color: white;;
  width: 100px;
  padding: 0.8rem 0;
  border: 1px solid #7d7d7d;
  border-radius: 4px;
}


#plus-icon:hover {
  transition: 0.3s;
  transform: rotate(-90deg);
}

.models-list-avatar {
  margin-right: 10px;
  height: 50px;
  width: 40px;
  border-radius: 6px;
}

.models-list{
  width: 80%;
  margin: 8px 0 0 26px;
  padding: 2px;
}

.models-list.selected {
  border-radius: 6px;
  font-weight: bold;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.models-list:hover {
  cursor: pointer;
}

@keyframes fadeInScale {
  0% { opacity: 0; transform: translate(-50%, -50%) scale(0.8); }
  100% { opacity: 1; transform: translate(-50%, -50%) scale(1); }
}

.navbar-login {
  font-weight: 600;
  font-family: 'Lato', sans-serif;
  color: #7d7d7d;
}

.navbar-login:hover {
  font-weight: 900;
  font-family: 'Lato', sans-serif;
  color: black;
}

.listings-list-item {
  display: flex;
  flex-direction: column;
  margin: 8px 12px 0 26px;
  padding: 8px;
}
.listing-selected {
    border-radius: 6px;
    font-weight: bold;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  }

.models-connection-list{
  width: 80%;
  margin: 8px 0 0 26px;
  padding: 2px;
}

.models-connection-list.selected {
  border-radius: 6px;
  font-weight: bold;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.outline {
  border: 1px solid rgb(255, 0, 0);
  border-radius: 4px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
