<div class="avatar avatar-inbox">
  <span class="p-xbold"><%= listing.user.f_name[0].upcase if listing.user && listing.user.f_name.present? %><%= listing.user.l_name[0].upcase if listing.user && listing.user.l_name.present? %></span>
</div>
