<div class="mobile-navbar d-flex justify-content-between" >
<%= link_to home_path do %>
    <i class="bottom-button fa-solid fa-house"></i>
<% end %>
<%= link_to inbox_path do %>
    <i class="bottom-button fa-solid fa-envelope"></i>
<% end %>
<%= link_to travel_path do %>
    <i class="bottom-button fa-solid fa-plane"></i>
<% end %>
</div>
