
<div class="container my-4">
    <h1><%= @agency.name %></h1>
    <% @clients.each do |client| %>
        <p><strong>Client Name:</strong> <%= client.name %></p>
         <p><strong>Contact info:</strong> <%= client.contact_info %></p>
    <% end %>
</div>
<div class="col-md-6">
    <div class="card mb-4 shadow-sm">
        <div class="card-header bg-info text-white">
          <h2 class="h5 mb-0">Users</h2>
        </div>
        <div class="card-body">

        <% @agency.mannequins.each do |user| %>
                <li class="list-group-item mb-3 p-3 border rounded bg-light">
                </li>
              <% end %>
            <ul class="list-group list-group-flush">
        </div>
    </div>
</div>
