<h1>Agenda</h1>

<%= month_calendar do |date| %>
  <div>
    <strong><%= date.day %></strong>
    <% (@listings_by_date[date] || []).each do |listing| %>
      <div><%= listing.listing_type %></div>
    <% end %>
  </div>
<% end %>
