<div class="dashboard">
  <div class="sidebar">
    <!-- Тут рендерим список моделей -->
    <%= render partial: 'model_agency_profiles/list', locals: { models: @models } %>
  </div>

  <div class="right-side">
   <div class="button-bar">
      <button class="btn btn-primary">CASTING</button>
      <button class="btn btn-primary">OPTION</button>
      <button class="btn btn-primary">JOB</button>
      <button class="btn btn-primary">TRAVEL</button>
      <button class="btn btn-primary">HOTEL</button>
    </div>

    <%= turbo_frame_tag :contact_details do %>
      <turbo-frame id="contact_details">
      <%= render partial: 'listings/form' %>
      </turbo-frame>
    <% end %>
  </div>
</div>
