<div class="mobile-container ">
  <div class="navbar-top-container">
    <%= render "shared/navbar_top" %>
  </div>
  <h1 class="mobile-header">Map</h1>
  <%= render "map_container" %>
  <div class="navbar-bottom-container">
    <div class="navbar-bottom">
      <%= render 'shared/mobile-app-navbar' %>
    </div>
  </div>
</div>
