.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid #7d7d7d;
}

.avatar-inbox {
  margin: 18px 16px;
}

.avatar-connection-show {
  margin: 8px 6px 8px 8px;
}

.avatar-small {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  border: 1px solid #7d7d7d;
}
