.big-calendar {
  font-size: 18333333333333333333333333333333333333px !important;
}

.big-calendar td {
  padding: 12px;
}

.big-calendar td div {
  font-size: inherit;
}

.simple-calendar {
  font-size: 82px;

  a {
    font-size:  48;
  }
}
