.tab {
    display: flex;
    background-color: #F5F5F5;
    width: 100%;
}

.tab button.active {
    background-color: white;
    border-bottom: 0px solid white;
  }

.tab button {
    width: 25%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.connections-inbox {
  flex-grow: 1;
  height: 85vh;
  overflow: scroll;
}

.connection-container {
  display: flex;
  height: 72px;
  width: 100%;
  border-bottom: 0.5px solid #7d7d7d;

  .avatar-inbox {
    height: 36px;
    width: 36px;
    border: 1px solid #7d7d7d;
    border-radius: 50%;
    margin: 18px 16px;
  }

  .connection-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .connection-listing-type {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.p-standard {
  color: black;
  font-weight: 400;
}

.p-light {
  color: #7d7d7d;
  font-weight: 400;
  margin: 0;
}

.small-type {
  font-style: italic;
  color: #7D7D7D;
  font-weight: 300;
  margin: 0;
}

.p-xbold {
  font-weight: 900;
  margin: 0;
}
