.connections-container {
    background-color: white;
}

.connections-info:hover {
    color: white;
    background-color: black;
}
.small-type {
font-family: Lato;
font-weight: 400;
font-style: italic;
font-size: 14px;
Line-height: 100%;
Letter-spacing: 0%;
color: #7D7D7D;
}