.modal-content {
  font-size: 1.4rem;;
  position: relative;
  width: 50vw;
  margin: 0 auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.modal-header {
  font-size: 2rem;;
}
