* {
  font-size: 62.5%;
  // font-family: 'Lato';
  color: #1A202C;
}

a {
  font-size: 1.4rem;
  color: #1A202C;
  text-decoration: none;
}

h1 {
  font-size: 1.6rem !important;
  font-weight: 800;
  margin-bottom: 0.8rem;
}

h2 {
  font-size: 1.4rem;
  font-weight: 900;
  margin-bottom: 0.8rem;
}

p {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 0.8rem;
}

span {
  font-size: 1.4rem;
}

i {
  font-size: 3.6rem;
  color: #7D7D7D;
}


.p-xbold {
  color: #1A202C;
  font-weight: 900;
  margin: 0;
}

.p-standard {
  color: #1A202C;
  font-weight: 400;
  margin: 0;
}

.p-light {
  color: #7d7d7d;
  font-weight: 400;
  margin: 0;
}

.p-description {
  margin-bottom: 0.8rem;
  width: 10rem;
}

.small-type {
  font-size: 1.2rem;
  color: #7D7D7D;
  font-weight: 300;
  margin: 0;
}

.x-small-type {
  font-size: 1rem;
  color: #7D7D7D;
  font-weight: 300;
  margin: 0;
}

.centered {
  text-align: center;
}

.info {
  width: 200px;
}

.tablinks {
  font-size: 1rem;
}

.simple_form input {
  font-size: 1.6rem;
}

.simple_form select {
  font-size: 1.6rem;
}

.simple_form textarea {
  font-size: 1.6rem;
}
