// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

@import "pages/dashboard";

@import url("https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css");

* {
  font-size:62.5%;
  font-family: 'Lato';
  color: #1A202C;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 1.6rem;
  font-weight: 800;
  margin-bottom: 10rem;
}

h2 {
  font-size: 1.4rem;
  font-weight: 900;
  margin-bottom: 10rem;
}

p {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 10rem;
}

span {
  font-size: 1.4rem;
}
