<div class="mobile-frame">
        <!-- top navbar -->
        <header class="top-navbar">
            <button class="nav-button left-button"><i class="fas fa-user"></i></button>
            <h1 class="navbar-title">Title</h1>
            <button class="nav-button right-button"><i class="fas fa-plus"></i></button>
        </header>

        <!-- Content will be here -->
        <main class="main-content">
            <p>Content</p>
             <%= yield %>
        </main>

        <!-- bottom navbar -->
        <footer class="bottom-navbar">
            <button class="nav-button"><i class="fas fa-home"></i> Home</button>
            <button class="nav-button"><i></i> Inbox</button>
            <button class="nav-button active"><i></i> Action</button>
            <button class="nav-button"><i></i> Travel</button>
        </footer>
    </div>
